{{#admin-nav}}
  {{nav-item route="admin.eventsIntegration.connection" label="admin.events_integration.connection.title"}}
  {{nav-item route="admin.eventsIntegration.source" label="admin.events_integration.source.title"}}
  {{nav-item route="admin.eventsIntegration.provider" label="admin.events_integration.provider.title"}}
  {{nav-item route="admin.eventsIntegration.event" label="admin.events_integration.event.title"}}
  {{nav-item route="admin.eventsIntegration.log" label="admin.events_integration.log.title"}}

  <li class="settings">
    <DButton @class="btn-default" @action={{route-action "showSettings"}} @actionParam={{plugin}} @icon="cog" @label="admin.plugins.change_settings_short" />
  </li>
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
